{% extends "base.html" %}

{% block title %}Form Page{% endblock %}

{% block heading %}

<h1><br/>Branch Change for 2015</h1>
{% if user.is_authenticated %}
{% if not user.is_superuser %}
<h1><small>User Info...<br/></small></h1>
{% else %} 
<h1><small>Hello Admin! <br/></small></h1>
{% endif %}
{% endif %}

{% endblock %}

{% block content %}
{% if not user.is_superuser %}
	<ul class="list-unstyled">
	{% for candidate in candidates %}
		{% if candidate.owner == user %}
		<li class="well">{% include "bc/candidate.html" %}</li>
		{% endif %}
		{% empty %}
    	{% if user.is_authenticated and edit %}
    	<li>&#09;<a class="btn btn-default" href="{% url "bc_candidate_create" %}"> Fill in your details</a>
    		{% endif %}	
	{% endfor %}
	</ul>
	{% if user.is_authenticated %}
	<h3>Preferences:</h3>

	<ol>
	{% for branch in branches %}
		{% if branch.owner == user %}
 		<li class="well">{% include "bc/branch.html" %}</li>
		{% endif %}
		{% empty %}
		<h4>Nil</h4>
	{% endfor %}
	{% endif %}
	</ul>
	{% if user.is_authenticated and edit %}
	<p><a class="btn btn-default" href="{% url "bc_branch_create" %}">
	Create new programme</a></p>
	{% endif %}
{% else %}
	<div style="display:inline;s">
		<div class="row">
		<div class="col-md-8">Want to import data to the database? Here, you go...</div>
		<div class="col-md-4">
			<a class="btn btn-default btn-md" href="{% url "bc_branch_import" %}">Import Data</a> </div>
		</div><div class="row">
		<div class="col-md-8">Want to export data from the database? Here, you go...</div>
		<div class="col-md-4">
			<a class="btn btn-default btn-md" href="{% url "bc_branch_export" %}">Export Data</a> </div>
		</div>
		<div class="row">
		<div class="col-md-8">Run the Branch Change algo!</div>
		<div class="col-md-4">
			<a class="btn btn-default btn-md" href="{% url "bc_branch_algorithm" %}">Run Algorithm</a>
		</div>	
		</div>
	</div>
{% endif %}


{% endblock %}
