{% if branch.owner == user %}
<div class="row" style="margin:5px,15px,5px,15px;">
	<div class="col-md-8">
		<a class="lead" href="{{ branch.url }}">{{ branch.name }}</a>
		by <a href="{% url "bc_branch_user" branch.owner.username %}">
    	{{ branch.owner.username }}</a>
		{{ branch.date_created|timesince }} ago &#09;
	</div>
	{% if edit %}
	<div class="col-md-4">
		<div style="text-align:right; display:inline;">
   		<a class="btn btn-default btn-xs"
        href="{% url "bc_branch_edit" branch.pk %}">Edit Preference</a>
    	<a class="btn btn-default btn-xs"
        href="{% url "bc_branch_delete" branch.pk %}">Delete Preference</a>
        </div>
	</div>    
	{% endif %}    
</div>
{% endif %}
