{% if user.is_authenticated %}
{% block user %}
<ul class="list-unstyled">
	{% for candidate in candidates %}
		{% if candidate.owner == user %}
		{% include "bc/candidate.html" %}
		{% endif %}
		{% empty %}
		<h4 style='margin:0 0 0 35%;'> Fill your details in the form! </h4>
    	{% if edit %}
    	<li style='margin:0 0 0 38%'><a class="btn btn-default" href="{% url "bc_candidate_create" user.username %}"> Fill in your details</a>
    	{% endif %}	
	{% endfor %}
	</ul>
{% endblock %}
	{% if edit %}
	<h3 style='margin:0 0 0 20%;'>Preferences:</h3>
	{% else %}
	<h3 style='margin:0 0 0 35%;'>Preferences:</h3>
	{% endif %}
	<ol>
	<div class="list-group">
	{% for _branch in branches %}
		{% if _branch.owner == user %}
 		{% if not edit %}<li style="width:30%;margin:0 35% 0 35%;"> {% else %} <li style="width:60%;margin:0 20% 0 20%;">  {% endif %}
		<div class="list-group-item" >
		{% if _branch != branch %}
			{% include "bc/branch.html" %}
			is the branch
			{% block preference %}
			{% endblock %}
		{% else %}
			{% include "bc/branch.html" %}
		{% endif %}
		<br></div></li>
 		{% endif %}
		{% empty %}
		<h4 style='margin:0 0 0 40%;'>Nil</h4>
	{% endfor %}
	</ol>
	</div>
	{% if edit %}
	<p><a class="btn btn-default" style="margin:0 0 0 38%;" href='{% url "bc_branch_create" user.username %}'>
	Add Preference</a></p>
	{% endif %}

{% else %}
	<br>
	<p><a class="lead" href={% url "user_login" %}> 
	{% if loginSuccessful %}	Login from above! 
	{% else %}	Incorrect username or password! Try again!
	{% endif %}	
	</a></p>
{% endif %}
